<html>
  <body>
    <h1>Hello World</h1>

    <h2>Persistent disk time log</h2>
    <p>
      <a href="/logs/time.log">/logs/time.log</a>
    </p>

    <h2>Generated values:</h2>
    <dl>
    <% [
        'generated.rsa_cert_credentials.public_key_pem',
        'generated.rsa_cert_credentials.cert_and_private_key_pems',
        'generated.rsa_pkey_credentials.public_key_pem',
        'generated.rsa_pkey_credentials.private_key_pem',
        'generated.rsa_pkey_credentials.public_key_openssh',
        'generated.salted_credentials.sha512_hashed_password',
        'generated.salted_credentials.identity',
        'generated.salted_credentials.salt',
        'generated.salted_credentials.password',
        'generated.simple_credentials.identity',
        'generated.simple_credentials.password',
        'generated.secret',
        'generated.uuid',
      ].each do |property| %>
      <dt><%= property %></dt>
      <dd><%= p(property) %></dd>
    <% end %>
    </dl>

    <h2>Configured values:</h2>
    <dl>
    <% [
        'configured.string',
        'configured.integer',
        'configured.boolean',
        'configured.dropdown',
        'configured.domain',
        'configured.wildcard_domain',
        'configured.string_list',
        'configured.text',
        'configured.ldap_url',
        'configured.email',
        'configured.http_url',
        'configured.ip_address',
        'configured.ip_ranges.value',
        'configured.ip_ranges.parsed_ip_ranges',
        'configured.multi_select_options',
        'configured.network_address_list.value',
        'configured.network_address_list.parsed_network_addresses',
        'configured.network_address',
        'configured.port',
        'configured.smtp_authentication',
        'configured.record_collection',
        'configured.selector',
      ].each do |property| %>
        <dt><%= property %></dt>
        <dd><%= p(property) %></dd>
    <% end %>
    </dl>

    <h2>Ops Manager Provided Accessors:</h2>
    <dl>
    <% [
        'ops_manager_provided_accessors.name',
        'ops_manager_provided_accessors.ephemeral_disk',
        'ops_manager_provided_accessors.persistent_disk',
        'ops_manager_provided_accessors.ram',
        'ops_manager_provided_accessors.instances',
        'ops_manager_provided_accessors.first_ip',
        'ops_manager_provided_accessors.ips',
        'ops_manager_provided_accessors.availability_zone',
        'ops_manager_provided_accessors.ips_by_availability_zone',
       ].each do |property| %>
        <dt><%= property %></dt>
        <dd><%= p(property) %></dd>
    <% end %>
    </dl>
  </body>
</html>
